body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background: #fff7ed;
    color: #92400e;
}

.header {
    background: #ffe88a;
    text-align: center;
    padding: 30px 10px;
    color: #6b2e00;
}

.header h1 {
    margin: 0;
    font-size: 35px;
    margin-top: 15px;
    font-weight: 800;
}

.header p {
    margin-top: 10px;
    font-size: 20px;
}

.menu {
    background: #ffd8a8;
    text-align: center;
    padding: 12px;
}

.menu a {
    margin: 0 12px;
    text-decoration: none;
    color: #7a2f00;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover {
    background-color: #c2410c;
    border-radius: 5px;
    padding: 8px;
    color: white;
    margin: 0 18px;
}

.banner {
    height: 420px;
    position: relative;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-text {
    width: 380px;
    height: 100px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffffe3;
    color: black;
    font-size: 17px;
    position: absolute;
    bottom: 30px;
}

#banner-text-main {
    right: 30px;
}

#banner-text-intro {
    left: 30px;
}

.banner-text h2, p {
    margin: 5px;
}

.intro {
    padding: 30px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.doctor-list {
    text-align: center;
    margin-top: 30px;
}

.doctor-card {
    background-color: white;
    font-size: 16px;
    width: 220px;
    padding: 15px;
    display: inline-block;
    margin: 0 15px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.166);
    transition: transform 0.3s;
}

.doctor-card h3 {
    margin: 10px;
}

.doctor-card p {
    font-weight: 100;
}

.doctor-card:hover {
    background-color: #fffbeb;
    transform: translateY(-10px);
}

.text {
    text-align: center;
    padding: 50px 0;
    font-size: 20px;
}

.text ul {
    padding: 0;
    color: black;
}

.text li {
    margin: 10px 0;
}

.text p {
    margin: 0 30px;
    color: black;
    font-size: 18px;
}

.doctor-list-detail {
    text-align: center;
}

.doctor-card-detail {
    width: 220px;
    height: 220px;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px 20px;
    display: inline-block;
    margin: 0 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.doctor-card-detail:hover {
    background-color: #fffbeb;
    transform: translateY(-10px);
}

.doctor-card-detail img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0;
}

.doctor-card-detail h3 {
    font-size: 18px;
    margin: 10px 0;
    color: #7a2f00;
}

.doctor-card-detail .specialty {
    color: #7a2f00;
    margin: 8px 0;
    font-size: 16px;
}

.doctor-card-detail .exp {
    color: rgb(85, 83, 83);
    font-size: 15px;
}

.footer {
    background: #7a2f00;
    color: white;
    text-align: center;
    padding: 20px;
}
